{% extends 'course.html' %}

{% block page_name1_admin %}
<a href="{% url 'dept_info' pk %}">Back</a>
{% endblock page_name1_admin %}

{% block body %}

    {% if messages %}
    <span class="messages">
    <div class="alert alert-success">
        <center>
            {% for message in messages %}
                {{ message }}
                <!--use {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %} to remove bullet points-->
            {% endfor %}
        </center>
    </div>
    </span>
    {% endif %}

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
            <h2>Year 1</h2><br>
            <h4>Sem 1</h4>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="300">
                {% for course in sem1 %}
                <div class="col-lg-3 col-md-5 mt-4">
                    <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                    <h3 style="padding-right: 10px; width: 100%"><a href="{% url 'modules' course.id %}">{{ course.cname }}</a></h3>
                    <a href="{% url 'update_course' course.id %}"><i class="fas fa-edit" style="color: black; font-size: 20px;"></i></a>
                    <a href="{% url 'delete_course' course.id %}" onclick="return confirm('Are you sure you want to delete the course {{ course.cname }}?\nNote: All modules and questions corresponding to course {{ course.cname }} will be deleted permanently.')"><i class="fas fa-trash" style="color: red; font-size: 20px; padding-right:0px;"></i></a>
                    </div>
                </div>
                {% empty %}<center>No course enrolled</center>
                {% endfor %}     
            </div>

            <br><br>

            <div class="section-title" data-aos="fade-up">
            <h4>Sem 2</h4>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="300"> 
                {% for course in sem2 %}
                <div class="col-lg-3 col-md-5 mt-4">
                    <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                    <h3 style="padding-right: 10px; width: 100%"><a href="{% url 'modules' course.id %}">{{ course.cname }}</a></h3>
                    <a href="{% url 'update_course' course.id %}"><i class="fas fa-edit" style="color: black; font-size: 20px;"></i></a>
                    <a href="{% url 'delete_course' course.id %}" onclick="return confirm('Are you sure you want to delete the course {{ course.cname }}?\nNote: All modules and questions corresponding to course {{ course.cname }} will be deleted permanently.')"><i class="fas fa-trash" style="color: red; font-size: 20px; padding-right:0px;"></i></a>
                    </div>
                </div>
                {% empty %}<center>No course enrolled</center>
                {% endfor %}
            </div>
            
        </div>
    </section><!-- End Features Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
            <h2>Year 2</h2><br>
            <h4>Sem 3</h4>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="300">
                {% for course in sem3 %}
                <div class="col-lg-3 col-md-5 mt-4">
                    <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                    <h3 style="padding-right: 10px; width: 100%"><a href="{% url 'modules' course.id %}">{{ course.cname }}</a></h3>
                    <a href="{% url 'update_course' course.id %}"><i class="fas fa-edit" style="color: black; font-size: 20px;"></i></a>
                    <a href="{% url 'delete_course' course.id %}" onclick="return confirm('Are you sure you want to delete the course {{ course.cname }}?\nNote: All modules and questions corresponding to course {{ course.cname }} will be deleted permanently.')"><i class="fas fa-trash" style="color: red; font-size: 20px; padding-right:0px;"></i></a>
                    </div>
                </div>
                {% empty %}<center>No course enrolled</center>
                {% endfor %}
            </div>

            <br><br>

            <div class="section-title" data-aos="fade-up">
            <h4>Sem 4</h4>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="300">
                {% for course in sem4 %}
                <div class="col-lg-3 col-md-5 mt-4">
                    <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                    <h3 style="padding-right: 10px; width: 100%"><a href="{% url 'modules' course.id %}">{{ course.cname }}</a></h3>
                    <a href="{% url 'update_course' course.id %}"><i class="fas fa-edit" style="color: black; font-size: 20px;"></i></a>
                    <a href="{% url 'delete_course' course.id %}" onclick="return confirm('Are you sure you want to delete the course {{ course.cname }}?\nNote: All modules and questions corresponding to course {{ course.cname }} will be deleted permanently.')"><i class="fas fa-trash" style="color: red; font-size: 20px; padding-right:0px;"></i></a>
                    </div>
                </div>
                {% empty %}<center>No course enrolled</center>
                {% endfor %}
            </div>
            
        </div>
    </section><!-- End Features Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
            <h2>Year 3</h2><br>
            <h4>Sem 5</h4>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="300">
                {% for course in sem5 %}
                <div class="col-lg-3 col-md-5 mt-4">
                    <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                    <h3 style="padding-right: 10px; width: 100%"><a href="{% url 'modules' course.id %}">{{ course.cname }}</a></h3>
                    <a href="{% url 'update_course' course.id %}"><i class="fas fa-edit" style="color: black; font-size: 20px;"></i></a>
                    <a href="{% url 'delete_course' course.id %}" onclick="return confirm('Are you sure you want to delete the course {{ course.cname }}?\nNote: All modules and questions corresponding to course {{ course.cname }} will be deleted permanently.')"><i class="fas fa-trash" style="color: red; font-size: 20px; padding-right:0px;"></i></a>
                    </div>
                </div>
                {% empty %}<center>No course enrolled</center>
                {% endfor %}
            </div>

            <br><br>

            <div class="section-title" data-aos="fade-up">
            <h4>Sem 6</h4>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="300">
                {% for course in sem6 %}
                <div class="col-lg-3 col-md-5 mt-4">
                    <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                    <h3 style="padding-right: 10px; width: 100%"><a href="{% url 'modules' course.id %}">{{ course.cname }}</a></h3>
                    <a href="{% url 'update_course' course.id %}"><i class="fas fa-edit" style="color: black; font-size: 20px;"></i></a>
                    <a href="{% url 'delete_course' course.id %}" onclick="return confirm('Are you sure you want to delete the course {{ course.cname }}?\nNote: All modules and questions corresponding to course {{ course.cname }} will be deleted permanently.')"><i class="fas fa-trash" style="color: red; font-size: 20px; padding-right:0px;"></i></a>
                    </div>
                </div>
                {% empty %}<center>No course enrolled</center>
                {% endfor %}

            </div>
            
        </div>
    </section><!-- End Features Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
            <h2>Year 4</h2><br>
            <h4>Sem 7</h4>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="300">
                {% for course in sem7 %}
                <div class="col-lg-3 col-md-5 mt-4">
                    <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                    <h3 style="padding-right: 10px; width: 100%"><a href="{% url 'modules' course.id %}">{{ course.cname }}</a></h3>
                    <a href="{% url 'update_course' course.id %}"><i class="fas fa-edit" style="color: black; font-size: 20px;"></i></a>
                    <a href="{% url 'delete_course' course.id %}" onclick="return confirm('Are you sure you want to delete the course {{ course.cname }}?\nNote: All modules and questions corresponding to course {{ course.cname }} will be deleted permanently.')"><i class="fas fa-trash" style="color: red; font-size: 20px; padding-right:0px;"></i></a>
                    </div>
                </div>
                {% empty %}<center>No course enrolled</center>
                {% endfor %}
            </div>

            <br><br>

            <div class="section-title" data-aos="fade-up">
            <h4>Sem 8</h4>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="300">
                {% for course in sem8 %}
                <div class="col-lg-3 col-md-5 mt-4">
                    <div class="icon-box">
                    <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                    <h3 style="padding-right: 10px; width: 100%"><a href="{% url 'modules' course.id %}">{{ course.cname }}</a></h3>
                    <a href="{% url 'update_course' course.id %}"><i class="fas fa-edit" style="color: black; font-size: 20px;"></i></a>
                    <a href="{% url 'delete_course' course.id %}" onclick="return confirm('Are you sure you want to delete the course {{ course.cname }}?\nNote: All modules and questions corresponding to course {{ course.cname }} will be deleted permanently.')"><i class="fas fa-trash" style="color: red; font-size: 20px; padding-right:0px;"></i></a>
                    </div>
                </div>
                {% empty %}<center>No course enrolled</center>
                {% endfor %}
            </div>
            
        </div>
    </section><!-- End Features Section -->

{% endblock body %}