{% extends 'base.html' %}

{% block user_nav %}active{% endblock user_nav %}

{% block page_name %}Department{% endblock page_name %}
{% block page_name1 %}Department{% endblock page_name1 %}

{% block body %}

    {% if messages %}
        <span class="messages">
        <div class="alert alert-success">
            <center>
                {% for message in messages %}
                    {{ message }}
                    <!--use {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %} to remove bullet points-->
                {% endfor %}
            </center>
        </div>
        </span>
    {% endif %}

    <!-- ======= Services Section ======= -->
    <section id="user_services" class="services">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
            <h2>Department</h2>
            <!-- <p>We offer a wide range of high class services which includes</p> -->
            </div>

            <div class="row">

                {% for group in groups %}
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-5">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <a href="{% url 'delete_group' group.id %}" onclick="return confirm('Are you sure you want to delete the group {{ group.name }}?\nNote: All courses, modules and questions corresponding to group {{ group.name }} will be deleted permanently.')"><i class="fas fa-trash" style="color: red; font-size: 20px; margin-right: 10px; float:right;"></i></a>
                    <a href="{% url 'update_group' group.id %}"><i class="fas fa-edit" style="color: black; font-size: 20px; margin-right: 10px; float:right;"></i></a>
                    <h4 class="title"><a href="{% url 'dept_info' group.id %}">{{ group.name }}</a></h4>
                        <p class="description">Click here to view/update teachers and courses</p>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </section><!-- End Services Section -->

{% endblock body %}