{% extends 'base.html' %}

{% load static %}

{% block page_name %}Change Password{% endblock page_name %}
{% block page_name1 %}Settings{% endblock page_name1 %}

{% block body %}


  {% if messages %}
    <span class="messages">
    <div class="alert alert-success">
        <center>
            {% for message in messages %}
                {{ message }}
                <!--use {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %} to remove bullet points-->
            {% endfor %}
        </center>
    </div>
    </span>
  {% endif %}

    <br><br>
    <h3>Password change successful</h3>
    <p>Your password was changed.</p>
    <br><br><br><br><br><br>

{% endblock body %}